<%- include('partials/header') %>
<main>
  <div class="project-details">
    <center><h2>Project Sample</h2></center>
    <div class="container">
      <link rel="stylesheet" href="">
      <img src="/images/Project1.jpg" alt="MyProject1">
      <img src="/images/Project4.jpg" alt="MyProject4">
      <img src="/images/Project2.jpg" alt="MyProject2">
      <img src="/images/Project3.jpg" alt="MyProject3">
  </div>
</main>
<%- include('partials/footer') %>