<center><%- include('partials/header') %>
  <main>
    <h1>About Me</h1>
    <div class="container">
      Greetings! I'm Angelito Torres Dela Cruz, proudly hailing from the Philippines. I hold a degree in Computer Engineering from my home country and am currently pursuing a Software Engineering Technician program at Centennial College, now in my third semester.

My journey into the world of technology has been an exhilarating one. My passion lies in web design and development, where I find creative expression and problem-solving opportunities. Through my academic pursuits and hands-on projects, I'm constantly refining my skills to craft engaging and user-friendly digital experiences.

When it comes to web design, I believe in the power of aesthetics and functionality coming together. My goal is to create websites and web applications that not only look stunning but also provide seamless interactions for users.

I'm excited about the ever-evolving tech landscape and the possibilities it holds. As I strive to excel in web design, I look forward to contributing my expertise to the industry and helping businesses establish a strong online presence.

Thank you for taking the time to learn more about me. If you have any inquiries, would like to collaborate, or simply want to chat about web design, please don't hesitate to reach out. I'm here to transform your web visions into reality!"
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="/contact">Get in touch</a>
    <br>
    <a href="/projects">View my projects</a>
  </main>
  <%- include('partials/footer') %>
  </center>
  